<h1>Edit post</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :author %>
        <%= f.text_field :author %>
    </div>

    <div>
        <%= f.label :body %>
        <%= f.text_field :body %>
    </div>

    <%= f.submit "Save changes" %>

<% end %>

<%= link_to "Posts", posts_path %>
