

<p><%= @post.title %> <%= @post.user %> <%= @post.body %></p>



<p>Created: <%= @post.created_at.strftime("%m/%d/%y") %> by <%= @post.user %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <b>Author:</b>
    <%= comment.user.username %>
  </p>

  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
<% end %>

<h5>Add comment</h5>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">

    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Remove", post_path, method: :delete, data: { confirm: "Delete post?"} %>
<%= link_to "Posts", posts_path %>
