<h1><%= @post.name %></h1>

<p><%= @post.title %> <%= @post.author %> <%= @post.body %> pounds available.</p>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Remove", post_path, method: :delete, data: { confirm: "Delete post?"} %>
<%= link_to "Posts", posts_path %>
