<!DOCTYPE html>
<html>
<head>
  <title>WAVS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <% if current_user %>
          <li>Welcome, <%= current_user.first_name %></li>

          <li><%= link_to 'Logout', session_path('dummy'), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', login_path %></li>

          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
        </li>

        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="mobile.html" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
      </ul>
    </div>
  </nav>








<%= yield %>

</body>
</html>
