<!DOCTYPE html>
<html>
<head>
  <title>WAVS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#!"><img src="wavs_logo_navbar_main_resize.svg" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <% if current_user %>
            <li>Welcome, <%= current_user.username %></li>
            <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', session_path('dummy'), method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign in', login_path %></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <% if current_user %>
    <nav class="secondary-nav nav-wrapper">
      <ul id="nav-mobile" class="left buffer">
        <li class="<%= "active" if params[:action] == "feed" %>"><%= link_to 'FEED', feed_path %></li>
      </ul>
      <a href="#" class="brand-logo center">
        <%= "Search and Find" if params[:action] == "feed" %>
        <%= current_user.username + "'s Collection" if params[:action] == "home" %>
      </a>
      <ul id="nav-mobile" class="right buffer">
        <li class="<%= "active" if params[:action] == "home" %>"><%= link_to 'HOME', home_path %></li>
      </ul>
    </nav>
  <% end %>
</header>

<%= yield %>

</body>
</html>
