<!DOCTYPE html>
<html>
<head>
  <title>WAVS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <% if current_user %>
          <li>Welcome, <%= current_user.username %></li>

          <li><%= link_to 'Logout', session_path('dummy'), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', login_path %></li>

          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
        </li>

        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="mobile.html" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
      </ul>
    </div>
  </nav>



  <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>




<%= yield %>

</body>
</html>
